* text=auto !eol
/Makefile -text
/README -text
/apertium-tr-ky.ky.lexc -text
/apertium-tr-ky.ky.twol -text
/apertium-tr-ky.tr-ky.dix -text
/apertium-tr-ky.tr-ky.t1x -text
dev/ky-nouns.txt -text svneol=unset#application/octet-stream
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
/tr-ky.prob -text svneol=unset#unset
/tr-ky.sh -text
/wiki-tests.sh -text
