/*.bin
/*.hfst
/*.mode
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-tr-ky.tr-ky.rlx
/autom4te.cache
/automa4te.cache
/config
/config.in
/config.log
/config.status
/configure
dev/Pending_tests.html
dev/Regression_tests.html
/install-sh
/install.sh
/missing
/modes
morph-tr/*.bin
morph-tr/*.cache
morph-tr/*.hfst
morph-tr/*.in
morph-tr/*.log
morph-tr/*.mode
morph-tr/*.ol
morph-tr/*.status
morph-tr/.deps
morph-tr/INSTALL
morph-tr/Makefile
morph-tr/Makefile.in
morph-tr/aclocal.m4
morph-tr/config
morph-tr/configure
morph-tr/install-sh
morph-tr/missing
morph-tr/modes
morph-tr/stamp-h1
/stamp-h1
