* text=auto !eol
/AUTHORS -text
/Makefile -text
/README -text
/apertium-tr-ky.ky.lexc -text
/apertium-tr-ky.ky.twol -text
/apertium-tr-ky.tr-ky.dix -text
/apertium-tr-ky.tr-ky.t1x -text
dev/bidix/context_adjectives.txt -text
dev/bidix/context_nouns.txt -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_postpositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/corpora/kyscraper_book.dat -text
dev/corpora/kyscraper_rss.dat -text
dev/corpora/kyscraper_rss1.dat -text
dev/corpora/scraper.py -text
dev/corpora/scraper_parsers.py -text
dev/corpora/scraperclasses.py -text
dev/corpora/source.tpl -text
dev/disambiguation-notes.txt -text
dev/generation-test.tr-ky.sh -text
dev/ky-nouns.txt -text svneol=unset#application/octet-stream
dev/midterm/article.ky.txt -text
dev/midterm/article.tr-ky.2011-07-12.txt -text svneol=unset#application/octet-stream
dev/midterm/article.tr.txt -text
dev/missing-bidix-freq.sh -text
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
tests/HfstTester.py -text
tests/README -text
tests/ky-adjectives.yaml -text
tests/ky-causpass.yaml -text
tests/ky-jnw.yaml -text
tests/ky-nouns.yaml -text
tests/ky-pronouns.yaml -text
tests/ky-verbs.pairtest -text
tests/ky-verbs.yaml -text
tests/ky-verbs2.yaml -text
tests/run-tests.sh -text
/tr-ky.prob -text svneol=unset#unset
/tr-ky.sh -text
/wiki-tests.sh -text
